*{
	margin: 0;
	padding: 0;
	}
.a{
	color:#456787;
	position: relative;
}
.a::after{
	content: attr(title);
	transition:all 3s;
	word-break:keep-all;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 8px;
	opacity:0;
	position:absolute;
	left:calc(40%);
	color: white;
	border-radius: 8px;
	}
	.a:hover::after{
		background-color: #000000;
		position:absolute;
		word-break:keep-all;
		bottom:0px;
		left:calc(150%);
		opacity:1;
		}
		.b{
			height:50px;
			width:50px;
			border:10px solid#FFC0CB
			border-left-color:#000000
			border-right-color:#B8860B
		}
	}
	
}